# Android/Gradle/Kotlin
*.iml
.gradle/
local.properties
.idea/
*.keystore
*.jks
build/
captures/
.externalNativeBuild/
.cxx/
.kotlin/
kls_database.db

# CI/CD artifacts
*.apk
*.aab

# OS
.DS_Store
Thumbs.db

# Agents
.sisyphus
.opencode
.omc
# Added by code-review-graph
.code-review-graph/
.agents
.shortcuts
